<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cuenta</title>

    <script src="assets/libs/jquery.min.js"></script>
    <script src="assets/libs/vue-2.7.16/package/dist/vue.js"></script>

    <link href="assets/libs/bootstrap-4.6.2/package/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="assets/libs/bootstrap-4.6.2/package/dist/js/bootstrap.js"></script>
    <link href="assets/libs/bootstrap-icons-1.11.3/package/font/bootstrap-icons.min.css" rel="stylesheet" />

    <link href="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.css" rel="stylesheet" />
    <script src="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.js"></script>

    <link href="assets/css/main-app.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div class="container container-fluid">
        <b-row class="vh-100">
          <b-col cols="6" class="offset-3 my-auto">
            <div class="py-lg-5">
              <h1>Nuevo Usuario</h1>
            </div>
            <b-form ref="formAccount" @submit.prevent="submitFormAccount">
              <b-row>
                <b-col cols="12">
                  <b-form-group label="Nombre completo:" label-size="lg">
                    <b-form-input autocomplete="on" size="lg" type="text" v-model="formAccount.fullname"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group label="Email:" label-size="lg">
                    <b-form-input autocomplete="on" size="lg" type="email" v-model="formAccount.email"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group label="Contraseña:" label-size="lg">
                    <b-form-input autocomplete="on" size="lg" type="password" v-model="formAccount.password"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group class="py-3">
                    <b-button size="lg" type="submit" variant="danger">
                      <i class="bi bi-save"></i>
                      Crear Cuenta
                    </b-button>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group class="py-2 text-center">
                    <div>
                      Ya tengo una cuenta registrada,
                      <b-link variant="link" class="font-weight-bold" href="login.html" size="lg">iniciar sesión</b-link>
                    </div>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>
      </div>
    </div>
    <script src="src/@shared/global.service.js"></script>
    <script src="src/account/service.js"></script>
    <script src="src/account/index.js"></script>
  </body>
</html>
