<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Hotel "EL BANDIDO"</title>
    <meta charset="utf-8" />

    <script src="assets/libs/jquery.min.js"></script>
    <script src="assets/libs/vue-2.7.16/package/dist/vue.js"></script>

    <link href="assets/libs/bootstrap-4.6.2/package/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="assets/libs/bootstrap-4.6.2/package/dist/js/bootstrap.js"></script>
    <link href="assets/libs/bootstrap-icons-1.11.3/package/font/bootstrap-icons.min.css" rel="stylesheet" />

    <link href="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.css" rel="stylesheet" />
    <link href="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue-icons.css" rel="stylesheet" />
    <script src="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.js"></script>
    <script src="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue-icons.js"></script>

    <link href="assets/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <div id="app">
      <!-- Sidebar -->
      <section id="sidebar">
        <div class="inner">
          <nav>
            <ul>
              <li><a href="#inicio" class="text-lg-right">Inicio</a></li>
              <li><a href="#galeria">Galeria</a></li>
              <li><a href="#reservaciones">Reservaciones</a></li>
              <li><a href="#suscripcion">Boletín</a></li>
              <li><a href="login.html" target="_parent">Iniciar Sesión</a></li>
            </ul>
          </nav>
        </div>
      </section>
      <!-- -->

      <div id="wrapper">
        <!-- Inicio -->
        <section class="wrapper fullscreen style1 fade-up" id="inicio">
          <div class="inner">
            <h1 class="major">Hotel <span style="font-weight: 500; font-size: 95px">EL BANDIDO</span></h1>
            <div class="small" style="color: rgba(255, 255, 255, 0.75); line-height: 3; letter-spacing: 0.1em">Donde tus aventuras empiezan y tus preocupaciones desaparecen.</div>
            <ul class="list-group">
              <li class="utp"><a class="button large scrolly" href="#galeria">Obtener mas información</a></li>
            </ul>
          </div>
        </section>
        <!-- -->

        <!-- Fotos y Videos -->
        <section class="wrapper fullscreen style2 section-container" id="galeria">
          <section>
            <div>
              <div class="features">
                <div id="gallery">
                  <div><img src="assets/imagenes/jw-limdt--doub-urban-guest-room-35527_Square.jpeg" /><a href="#lightbox-1"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-accesible-room-bath-29956-31351_Wide-Hor.jpeg" /><a href="#lightbox-2"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-accesible-room-bath-32757-52895_Wide-Hor.jpeg" /><a href="#lightbox-3"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contem-classic-desk-25815-72716_Wide-Hor.jpeg" /><a href="#lightbox-4"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemp-superior-11401-31772_Wide-Hor.jpeg" /><a href="#lightbox-5"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporar-classic-34040-82977_Wide-Hor.jpeg" /><a href="#lightbox-6"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporary-classi-24330-01116_Wide-Hor.jpeg" /><a href="#lightbox-7"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporary-classi-25640-51211_Wide-Hor.jpeg" /><a href="#lightbox-8"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporary-superi-23731-26685_Wide-Hor.jpeg" /><a href="#lightbox-9"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporary-superi-28010-87753_Wide-Hor.jpeg" /><a href="#lightbox-10"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporary-superi-31566-49142_Wide-Hor.jpeg" /><a href="#lightbox-11"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-contemporaryclassic-17564-51032_Wide-Hor.jpeg" /><a href="#lightbox-12"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-guest-room-16884_Wide-Hor.jpeg" /><a href="#lightbox-13"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-jw-lobby-cafe-49608-46773_Square.jpeg" /><a href="#lightbox-14"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-urban-guest-room-14378_Wide-Hor.jpeg" /><a href="#lightbox-15"></a></div>
                  <div><img src="assets/imagenes/jw-limdt-urban-guest-room-de-13884-21242_Wide-Hor.jpeg" /><a href="#lightbox-16"></a></div>
                  <div><img src="assets/imagenes/limdt-guestroom-0081_Wide-Hor.jpeg" /><a href="#lightbox-17"></a></div>
                  <div><img src="https://picsum.photos/600/600/?image=529" /><a href="#lightbox-18"></a></div>
                </div>
                <div class="lightbox" id="lightbox-1">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt--doub-urban-guest-room-35527_Square.jpeg" />
                    <div class="title">001. <b>Doble</b> Habitacion</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-2">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-accesible-room-bath-29956-31351_Wide-Hor.jpeg" />
                    <div class="title">002. <b>Baño</b> Amplio espacio</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-3">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-accesible-room-bath-32757-52895_Wide-Hor.jpeg" />
                    <div class="title">003. <b>Baño</b> Suite</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-4">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contem-classic-desk-25815-72716_Wide-Hor.jpeg" />
                    <div class="title">004. <b>Individual</b> Habitacion</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-5">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemp-superior-11401-31772_Wide-Hor.jpeg" />
                    <div class="title">006. <b>Ventana</b> Amplia vista</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-6">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporar-classic-34040-82977_Wide-Hor.jpeg" />
                    <div class="title">007. <b>Doble</b> Suite</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-7">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporary-classi-24330-01116_Wide-Hor.jpeg" />
                    <div class="title">008. <b>Baño</b> Moderno amplio</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-8">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporary-classi-25640-51211_Wide-Hor.jpeg" />
                    <div class="title">009. <b>individual</b> Suite</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-9">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporary-superi-23731-26685_Wide-Hor.jpeg" />
                    <div class="title">010. <b>Balcon</b> Amplia vista</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-10">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporary-superi-28010-87753_Wide-Hor.jpeg" />
                    <div class="title">011. <b>Individual</b> Habitacion</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-11">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporary-superi-31566-49142_Wide-Hor.jpeg" />
                    <div class="title">No. <b>522</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-12">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-contemporaryclassic-17564-51032_Wide-Hor.jpeg" />
                    <div class="title">No. <b>523</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-13">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-guest-room-16884_Wide-Hor.jpeg" />
                    <div class="title">No. <b>524</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-14">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-jw-lobby-cafe-49608-46773_Square.jpeg" />
                    <div class="title">No. <b>525</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-15">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-urban-guest-room-14378_Wide-Hor.jpeg" />
                    <div class="title">No. <b>526</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-16">
                  <div class="content">
                    <img src="assets/imagenes/jw-limdt-urban-guest-room-de-13884-21242_Wide-Hor.jpeg" />
                    <div class="title">No. <b>527</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-17">
                  <div class="content">
                    <img src="assets/imagenes/limdt-guestroom-0081_Wide-Hor.jpeg" />
                    <div class="title">No. <b>528</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
                <div class="lightbox" id="lightbox-18">
                  <div class="content">
                    <img src="https://picsum.photos/1920/1080/?image=529" />
                    <div class="title">No. <b>529</b> from Picsum</div>
                    <a class="close" href="#gallery"></a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
        <!-- -->

        <!-- Reservaciones Disponibles -->
        <section class="wrapper fullscreen bg-white py-xl-5" id="reservaciones">
          <div class="px-xl-5">
            <h1 class="color-black">Reservaciones Disponibles</h1>
          </div>
          <div class="py-xl-5 px-xl-5">
            <div>
              <b-form @submit.prevent="submitFormListaReservaciones">
                <b-row>
                  <b-col cols="3">
                    <b-form-group label="Destino:" label-size="lg">
                      <b-form-select size="lg" v-model="formReservacion.destino">
                        <b-form-select-option v-for="(v,k) in optionsDestinos" :key="k" :value="v.key">{{v.value}} </b-form-select-option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group label="Fecha de entrada:" label-size="lg">
                      <b-input-group size="lg">
                        <b-form-input autocomplete="off" id="fecha_entrada" placeholder="YYYY-MM-DD" readonly type="text" v-model="formListaReservaciones.fecha_entrada"></b-form-input>
                        <b-input-group-append>
                          <b-form-datepicker @context="onSeleccionarFechaEntrada" aria-controls="fecha_entrada" button-only right v-model="formListaReservaciones.fecha_entrada"></b-form-datepicker>
                        </b-input-group-append>
                      </b-input-group>
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group label="Fecha de salida:" label-size="lg">
                      <b-input-group size="lg">
                        <b-form-input autocomplete="off" id="fecha_salida" placeholder="YYYY-MM-DD" readonly type="text" v-model="formListaReservaciones.fecha_salida"></b-form-input>
                        <b-input-group-append>
                          <b-form-datepicker @context="onSeleccionarFechaSalida" aria-controls="fecha_salida" button-only right v-model="formListaReservaciones.fecha_salida"></b-form-datepicker>
                        </b-input-group-append>
                      </b-input-group>
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group label="." class="text-white" label-size="lg">
                      <b-dropdown id="dropdown-form" text="Personas" ref="dropdown" size="lg" variant="secondary" block menu-class="w-100">
                        <b-dropdown-form class="w-100">
                          <b-form-group label="Adultos">
                            <div>
                              <b-form-spinbutton id="demo-sb" v-model="formReservacion.ajustes.adultos" min="1" max="100"></b-form-spinbutton>
                            </div>
                          </b-form-group>
                          <b-dropdown-divider></b-dropdown-divider>
                          <b-form-group label="Infantes">
                            <div>
                              <b-form-spinbutton id="demo-sb" v-model="formReservacion.ajustes.infantes" min="0" max="5"></b-form-spinbutton>
                            </div>
                          </b-form-group>
                          <b-dropdown-divider></b-dropdown-divider>
                          <b-form-group label="Habitaciones">
                            <div>
                              <b-form-spinbutton id="demo-sb" v-model="formReservacion.ajustes.habitaciones" min="1" max="99"></b-form-spinbutton>
                            </div>
                          </b-form-group>
                        </b-dropdown-form>
                      </b-dropdown>
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group label="." class="text-white" label-size="lg">
                      <b-button size="lg" type="submit" variant="danger">
                        <b-icon-filter></b-icon-filter>
                        Filtrar
                      </b-button>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-form>
            </div>
          </div>
          <div class="px-xl-5">
            <b-row>
              <b-col v-for="(item, index) in itemsReservaciones" :key="index" cols="6">
                  <b-card :img-src="item.imagen" img-alt="Card image" img-left img-width="250" img-height="200" title-tag="h5" class="mb-3" :title="item.destino" :sub-title="item.region">
                    <div class="small mt-3 mb-1">{{item.personas}}</div>
                    <b-button variant="danger" size="sm" @click="redirectLogin">Reservar</b-link>
                  </b-card>
              </b-col>
            </b-row>
          </div>
        </section>
        <!-- -->

        <!-- Boletin Informativo -->
        <section class="wrapper fullscreen bg-light py-xl-5" id="suscripcion">
          <div class="px-xl-5 text-center">
            <h1>Boletín Informativo</h1>
          </div>
          <div class="px-xl-5">
            <b-row>
              <b-col cols="10" class="offset-1">
                <div class="py-xl-5">
                  <b-card class="align-middle shadow-lg p-0 m-0">
                    <b-card-body class="p-0 m-0">
                      <div class="p-xl-3">
                        <b-form>
                          <b-row>
                            <b-col cols="9">
                              <b-form-group description="Suscríbete para obtener información relevante, novedades y promociones.">
                                <b-form-input autocomplete="on" size="lg" type="text" v-model="formReservacion.nombre" placeholder="Correo electrónico"></b-form-input>
                              </b-form-group>
                            </b-col>
                            <b-col cols="3">
                              <b-button variant="danger" size="lg" block> Suscriberme</b-button>
                            </b-col>
                          </b-row>
                        </b-form>
                      </div>
                    </b-card-body>
                  </b-card>
                </div>
              </b-col>
            </b-row>
          </div>
        </section>
        <!-- -->
      </div>
      <!-- -->

      <!-- Footer -->
      <footer class="wrapper style1-alt py-xl-5" id="footer">
        <div class="px-xl-5">
          <b-row>
            <b-col cols="6">
              <h1 class="major text-white">Hotel <span style="font-weight: 500; font-size: 50px">EL BANDIDO</span></h1>
              <ul class="list-group text-muted" style="line-height: 2">
                <li>Dirección: Avenida Jose Pardo 293 Piso 7 - Miraflores - Lima- Perú</li>
                <li>Email: ventas@hotelelbandido.com</li>
                <li>Telefono: (01) 442-1210</li>
                <li>WhatsApp: (51) 995-778-123</li>
                <li>Atención: LUN. - DOM. y FERIADOS / 24 Horas</li>
              </ul>
            </b-col>

            <b-col cols="3">
              <h2 class="text-transparent">.</h2>
              <h5 class="text-white">Menu</h5>
              <ul class="list-group text-muted" style="line-height: 2">
                <li>
                  <a href="#inicio"><i class="bi bi-link"></i> Inicio</a>
                </li>
                <li>
                  <a href="#galeria"><i class="bi bi-link"></i> Galeria</a>
                </li>
                <li>
                  <a href="#reservaciones"><i class="bi bi-link"></i> Reservaciones</a>
                </li>
                <li>
                  <a href="#suscripcion"><i class="bi bi-link"></i> Boletín Informativo</a>
                </li>
                <li>
                  <a href="login.html"><i class="bi bi-link"></i> Iniciar Sesión</a>
                </li>
              </ul>
            </b-col>

            <b-col cols="3">
              <h2 class="text-transparent">.</h2>
              <h5 class="text-white">Redes Sociales</h5>
              <ul class="list-group text-muted" style="line-height: 2">
                <li><i class="bi bi-facebook"></i> Facebook</li>
                <li><i class="bi bi-instagram"></i> Instagram</li>
                <li><i class="bi bi-linkedin"></i> LinkedIn</li>
                <li><i class="bi bi-tiktok"></i> Tiktok</li>
                <li><i class="bi bi-youtube"></i> Youtube</li>
              </ul>
            </b-col>
          </b-row>
          <div class="text-muted pt-xl-5">
            <div class="float-left">
              <div class="my-auto"><i class="bi bi-c-circle"></i> Todos los Derechos Reservados desde 1993 - {{ new Date().getFullYear() }}</div>
            </div>
            <div class="float-right">
              <div>Desarrollado por: <a href="https://www.utp.edu.pe/pregrado/facultad-de-ingenieria/ingenieria-de-software">ALUMNOS del 5to Ciclo de la UTP</a></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- -->
    </div>

    <script src="src/index.js"></script>
  </body>
</html>
