<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <script src="assets/libs/jquery.min.js"></script>
    <script src="assets/libs/vue-2.7.16/package/dist/vue.js"></script>

    <link href="assets/libs/bootstrap-4.6.2/package/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/libs/bootstrap-icons-1.11.3/package/font/bootstrap-icons.min.css" rel="stylesheet" />
    <script src="assets/libs/bootstrap-4.6.2/package/dist/js/bootstrap.min.js"></script>

    <link href="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.css" rel="stylesheet" />
    <script src="assets/libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.js"></script>

    <link href="assets/css/main-app.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div class="container container-fluid">
        <b-row class="vh-100">
          <b-col cols="6" class="offset-3 my-auto">
            <div class="py-lg-5">
              <h1>Inicio de Sesión</h1>
            </div>
            <b-form ref="formLogin" @submit.prevent="submitFormLogin">
              <b-row>
                <b-col cols="12">
                  <b-form-group label="Email:" label-size="lg">
                    <b-form-input autocomplete="on" size="lg" type="email" v-model="formLogin.email" required></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group label="Contraseña:" label-size="lg">
                    <b-input-group>
                      <b-form-input ref="utpInputPassword" autocomplete="on" :type="inputTypePass" :id="`type-${inputTypePass}`" size="lg" v-model="formLogin.password" required> </b-form-input>
                      <b-input-group-append>
                        <b-button type="button" @click="showPassword" size="lg" variant="primary" :title="labelTypePass">
                          <i class="bi bi-eye" v-if="inputTypePass === 'password'"></i>
                          <i class="bi bi-eye-slash" v-if="inputTypePass === 'text'"></i>
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group class="py-3">
                    <b-overlay :show="loading.button" rounded opacity="0.6" spinner-small spinner-variant="danger" class="d-inline-block" @hidden="loading.button">
                      <b-button size="lg" type="submit" variant="danger">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Entrar
                      </b-button>
                    </b-overlay>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group class="py-2 text-center">
                    <div>
                      ¡Soy nuevo! entonces,
                      <b-link variant="link" class="font-weight-bold" href="account.html" size="lg">crear cuenta </b-link>
                    </div>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group class="py-0 my-0 text-center" style="font-size: 13px">
                    <div>
                      Visita nuestro sitio web:
                      <b-link variant="link" href="index.html"> https://hotelelbandido.com </b-link>
                    </div>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>
      </div>
    </div>
    <script src="src/@shared/global.service.js"></script>
    <script src="src/login/service.js"></script>
    <script src="src/login/index.js"></script>
  </body>
</html>
