<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cuenta</title>

    <script src="libs/jquery.min.js"></script>
    <script src="libs/vue-2.7.16/package/dist/vue.js"></script>

    <link href="libs/bootstrap-4.6.2/package/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="libs/bootstrap-4.6.2/package/dist/js/bootstrap.js"></script>
    <link href="libs/bootstrap-icons-1.11.3/package/font/bootstrap-icons.min.css" rel="stylesheet" />

    <link href="libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.css" rel="stylesheet" />
    <script src="libs/bootstrap-vue-2.23.1/package/dist/bootstrap-vue.js"></script>

    <link href="assets/css/main-app.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div class="container container-fluid">
        <b-row class="vh-100">
          <b-col cols="12" class="my-auto">
            <!-- Reservar -->
            <div class="py-lg-5">
              <h1>Reservación</h1>
            </div>
            <b-row>
              <b-col cols="7">
                <div>
                  <b-form ref="formReservacion" @submit.prevent="submitFormReservacion">
                    <b-row>
                      <b-col cols="12">
                        <b-form-group label="Nombre Completo:" label-size="lg">
                          <b-form-input autocomplete="on" size="lg" type="text" v-model="formReservacion.nombre"></b-form-input>
                        </b-form-group>
                      </b-col>
<!--                      <b-col cols="12">-->
<!--                        <b-form-group label="Correo Electrónico:" label-size="lg">-->
<!--                          <b-form-input autocomplete="on" size="lg" type="email" v-model="formReservacion.email"></b-form-input>-->
<!--                        </b-form-group>-->
<!--                      </b-col>-->
<!--                      <b-col cols="12">-->
<!--                        <b-form-group label="Tipo de Habitación:" label-size="lg">-->
<!--                          <b-form-select size="lg" v-model="formReservacion.habitacion">-->
<!--                            <b-form-select-option v-for="(v,k) in tipoHabitaciones" :key="k" :value="v.key">{{v.value}} </b-form-select-option>-->
<!--                          </b-form-select>-->
<!--                        </b-form-group>-->
<!--                      </b-col>-->
                      <b-col cols="12">
                        <b-form-group label="Fecha de Entrada:" label-size="lg">
                          <b-input-group size="lg">
                            <b-form-input autocomplete="off" id="fecha_entrada" placeholder="YYYY-MM-DD" readonly type="text" v-model="formReservacion.fecha_entrada"></b-form-input>
                            <b-input-group-append>
                              <b-form-datepicker @context="onSeleccionarFechaEntrada" aria-controls="fecha_entrada" button-only right v-model="formReservacion.fecha_entrada"></b-form-datepicker>
                            </b-input-group-append>
                          </b-input-group>
                        </b-form-group>
                      </b-col>
                      <b-col cols="12">
                        <b-form-group label="Fecha de Salida:" label-size="lg">
                          <b-input-group size="lg">
                            <b-form-input autocomplete="off" id="fecha_salida" placeholder="YYYY-MM-DD" readonly type="text" v-model="formReservacion.fecha_salida"></b-form-input>
                            <b-input-group-append>
                              <b-form-datepicker @context="onSeleccionarFechaSalida" aria-controls="fecha_salida" button-only right v-model="formReservacion.fecha_salida"></b-form-datepicker>
                            </b-input-group-append>
                          </b-input-group>
                        </b-form-group>
                        
                      </b-col>
                      <b-col cols="12">
                        <b-form-group class="py-3">
                          <b-button size="lg" type="submit" variant="danger">
                            <i class="bi bi-save"></i>
                            Guardar
                          </b-button>
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-form>
                </div>
              </b-col>
              <b-col cols="5">
                <div class="p-xl-5 my-auto mx-auto">
                  <b-img src="./assets/imagenes/reserva_002.png" fluid center width="500px"></b-img>
                  <div style="text-justify: inter-word">
                    Todas nuestras reservas de habitación incluye
                    <b>Balcón Privado, TV QLED 65', Netflix Free y una Cerveza Artesanal.</b>
                  </div>
                </div>
              </b-col>
            </b-row>
            <!-- -->
          </b-col>
        </b-row>
      </div>
    </div>
    <script src="src/reserva/index.js"></script>
  </body>
</html>
