/* Buttons */

.utp>input[type="submit"],
.utp>input[type="reset"],
.utp>input[type="button"],
.utp>button,
.utp>.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.55em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.utp>input[type="submit"]:after,
.utp>input[type="reset"]:after,
.utp>input[type="button"]:after,
.utp>button:after,
.utp>.button:after {
    -moz-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    pointer-events: none;
    -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
    -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
    transition: opacity 0.2s ease, transform 0.2s ease;
    background: #ffffff;
    border-radius: 3em;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.utp>input[type="submit"].icon:before,
.utp>input[type="reset"].icon:before,
.utp>input[type="button"].icon:before,
.utp>button.icon:before,
.utp>.button.icon:before {
    margin-right: 0.75em;
}

.utp>input[type="submit"].fit,
.utp>input[type="reset"].fit,
.utp>input[type="button"].fit,
.utp>button.fit,
.utp>.button.fit {
    width: 100%;
}

.utp>input[type="submit"].small,
.utp>input[type="reset"].small,
.utp>input[type="button"].small,
.utp>button.small,
.utp>.button.small {
    font-size: 0.4em;
}

.utp>input[type="submit"].large,
.utp>input[type="reset"].large,
.utp>input[type="button"].large,
.utp>button.large,
.utp>.button.large {
    font-size: 0.8em;
}

.utp>input[type="submit"].primary,
.utp>input[type="reset"].primary,
.utp>input[type="button"].primary,
.utp>button.primary,
.utp>.button.primary {
    background-color: var(--secondary);
    color: var(--color-white) !important;
}

.utp>input[type="submit"].primary:after,
.utp>input[type="reset"].primary:after,
.utp>input[type="button"].primary:after,
.utp>button.primary:after,
.utp>.button.primary:after {
    display: none;
}

.utp>input[type="submit"].disabled, input[type="submit"]:disabled,
.utp>input[type="reset"].disabled,
.utp>input[type="reset"]:disabled,
.utp>input[type="button"].disabled,
.utp>input[type="button"]:disabled,
.utp>button.disabled,
.utp>button:disabled,
.utp>.button.disabled,
.utp>.button:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

.utp>input[type="submit"]:hover,
.utp>input[type="reset"]:hover,
.utp>input[type="button"]:hover,
.utp>button:hover,
.utp>.button:hover {
    border-color: rgba(255, 255, 255, 0.55) !important;
}

.utp>input[type="submit"]:hover:after,
.utp>input[type="reset"]:hover:after,
.utp>input[type="button"]:hover:after,
.utp>button:hover:after,
.utp>.button:hover:after {
    opacity: 0.05;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.utp>input[type="submit"]:hover:active,
.utp>input[type="reset"]:hover:active,
.utp>input[type="button"]:hover:active,
.utp>button:hover:active,
.utp>.button:hover:active {
    border-color: #ffffff !important;
}

.utp>input[type="submit"]:hover:active:after,
.utp>input[type="reset"]:hover:active:after,
.utp>input[type="button"]:hover:active:after,
.utp>button:hover:active:after,
.utp>.button:hover:active:after {
    opacity: 0.1;
}
