@import "font.css";
@import "_variables.css";

@import "buttons.css";
@import "section-container.css";
@import "wrapper.css";
@import "wrapper-main.css";
@import "footer.css";
@import "sidebar.css";
@import "section-inicio.css";
@import "menu.css";
@import "gallery.css";

ul {
  list-style-type: none;
}

.color-black {
  color: var(--color-black);
}

.bg-black {
  background-color: #000;
}

.color-white {
  color: #fff;
}
