@import "font.css";
@import "_variables.css";

/* @import "table.css"; */
/* @import "form.css"; */
/* @import "rows.css"; */
/* @import "buttons.css"; */
@import "section-container.css";
@import "wrapper.css";
@import "wrapper-main.css";
@import "footer.css";
@import "sidebar.css";
@import "section-inicio.css";
@import "menu.css";
@import "gallery.css";

html,body#app {
overflow-x: hidden;
    width: 100vw;
}
/*html, body, div, span, applet, object,*/
/*iframe, h1, h2, h3, h4, h5, h6, p, blockquote,*/
/*pre, a, abbr, acronym, address, big, cite,*/
/*code, del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var, b,*/
/*u, i, center, dl, dt, dd, ol, ul, li, fieldset,*/
/*form, label, legend, table, caption, tbody,*/
/*tfoot, thead, tr, th, td, article, aside,*/
/*canvas, details, embed, figure, figcaption,*/
/*footer, header, hgroup, menu, nav, output, ruby,*/
/*section, summary, time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*body {*/
/*    line-height: 1;*/
/*}*/

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*body {*/
/*    -webkit-text-size-adjust: none;*/
/*}*/

mark {
    background-color: transparent;
    color: inherit;
}

input, select, textarea {
    appearance: none;
}

/* Basic */

/*body {*/
/*    -ms-overflow-style: scrollbar;*/
/*}*/

/*@media screen and (max-width: 480px) {*/

/*    html, body {*/
/*        min-width: 320px;*/
/*    }*/

/*}*/

/*html {*/
/*    box-sizing: border-box;*/
/*}*/

/**, *:before, *:after {*/
/*    box-sizing: inherit;*/
/*}*/

/*body {*/
/*    background: var(--primary);*/
/*}*/

/*body.is-preload *, body.is-preload *:before, body.is-preload *:after {*/
/*    -moz-animation: none !important;*/
/*    -webkit-animation: none !important;*/
/*    -ms-animation: none !important;*/
/*    animation: none !important;*/
/*    -moz-transition: none !important;*/
/*    -webkit-transition: none !important;*/
/*    -ms-transition: none !important;*/
/*    transition: none !important;*/
/*}*/

/* Type */

/*body, input, select, textarea {*/
/*    color: var(--color-dark);*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    font-size: 16.5pt;*/
/*    font-weight: normal;*/
/*    line-height: 1.75;*/
/*}*/

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 360px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    /*border-bottom: dotted 1px rgba(255, 255, 255, 0.35);*/
    color: inherit;
    text-decoration: none;
}

/*a:hover {*/
/*    border-bottom-color: transparent;*/
/*    color: #ffffff;*/
/*}*/

/*strong, b {*/
/*    color: #ffffff;*/
/*    font-weight: bold;*/
/*}*/

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-black);
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2.75em;
}

h1.major {
    margin: 0 0 1.3em 0;
    position: relative;
    padding-bottom: 0.35em;
}

h1.major:after {
    background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
    background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
    background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    -moz-transition: max-width 0.2s ease;
    -webkit-transition: max-width 0.2s ease;
    -ms-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
    border-radius: 0.2em;
    bottom: 0;
    content: '';
    height: 0.05em;
    position: absolute;
    right: 0;
    width: 100%;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.6em;
}

@media screen and (max-width: 736px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.8em;
    }

    h5 {
        font-size: 0.6em;
    }

    h6 {
        font-size: 0.6em;
    }

}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px rgba(255, 255, 255, 0.15);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    /*font-family: "Courier New", monospace;*/
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    /*font-family: "Courier New", monospace;*/
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.color-black {
    color: var(--color-black);
}

.vh-50 { height: 50vh !important; }
.vh-75 { height: 75vh !important; }