/* Section (inicio) */

#inicio {
    background-attachment: fixed;
    background-image: url("./images/fondo.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#inicio:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    opacity: 0.5;
}

#inicio h1 {
    font-size: 55px;
    line-height: 0;
    color: #fff;
    position: relative
}

#inicio p {
    font-size: 1.25em;
}

@media screen and (max-width: 980px) {

    #inicio p br {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #inicio p {
        font-size: 1em;
    }

}

@media screen and (max-width: 1280px) {

    #inicio {
        background-attachment: scroll;
    }

}